{% extends 'root.html' %}


{% block content %}
    <!-- ======= Breadcrumbs ======= -->

    <!-- ======= Breadcrumbs ======= -->
    <section class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>CGPA RESULT Page</h2>
          <ol>
            <li><a href="{% url  'homepage'  %}">Home</a></li>
            <li>Result</li>
          </ol>
        </div>

      </div>
    </section><!-- End Breadcrumbs -->

    <section class="inner-page">
      <div class="container">
        Semester Total Point:{{class}}
        Grade:{{result}}<br>
        class:{{result2}}<br>
        Semester Total Unit:{{su}} <br>
        Semester Total Point:{{sp}}
      </div>
    </section>

  </main><!-- End #main -->

  {% endblock %}

