{% extends 'root.html' %}


{% block content %}

<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>Pricing</h2>
          <ol>
            <li><a href="{% url  'homepage'  %}">Home</a></li>
            <li>Pricing</li>
          </ol>
        </div>

      </div>
    </section><!-- End Breadcrumbs -->

    <!-- ======= Pricing Section ======= -->
    <section id="pricing" class="pricing">
      <div class="container" data-aos="fade-up">

        <div class="row">

          <div class="col-lg-3 col-md-6">
            <div class="box">
              <h3>Free</h3>
              <h4><sup>$</sup>0<span> / month</span></h4>
              <ul>
                <li>Basic Html</li>
                <li>Basic CSS</li>
                <li>Basic Python</li>
                <li class="na">Basic Html</li>
                <li class="na">Basic CSS</li>
              </ul>
              <div class="btn-wrap">
                <a href="#" class="btn-buy">Buy Now</a>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 mt-4 mt-md-0">
            <div class="box featured">
              <h3>Business</h3>
              <h4><sup>$</sup>19<span> / month</span></h4>
              <ul>
                <li>Article Writing</li>
                <li>Web Design</li>
                <li>Web Based App</li>
                <li>Mobile App</li>
                <li class="na">coming up</li>
              </ul>
              <div class="btn-wrap">
                <a href="#" class="btn-buy">Buy Now</a>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 mt-4 mt-lg-0">
            <div class="box">
              <h3>Developer</h3>
              <h4><sup>$</sup>29<span> / month</span></h4>
              <ul>
                <li>Article Writing</li>
                <li>Web Design</li>
                <li>Web Based App</li>
                <li>Mobile App</li>
                <li class="na">coming up</li>
              </ul>
              <div class="btn-wrap">
                <a href="#" class="btn-buy">Buy Now</a>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 mt-4 mt-lg-0">
            <div class="box">
              <span class="advanced">Advanced</span>
              <h3>Ultimate</h3>
              <h4><sup>$</sup>49<span> / month</span></h4>
              <ul>
                <li>Article Writing</li>
                <li>Web Design</li>
                <li>Web Based App</li>
                <li>Mobile App</li>
                <li class="na">coming up</li>
              </ul>
              <div class="btn-wrap">
                <a href="#" class="btn-buy">Buy Now</a>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Pricing Section -->

    <!-- ======= Frequently Asked Questions Section ======= -->
    <section id="faq" class="faq section-bg">
      <div class="container">

        <div class="section-title">
          <h2>Frequently Asked Questions</h2>
        </div>

        <div class="row  d-flex align-items-stretch">

          <div class="col-lg-6 faq-item" data-aos="fade-up">
            <h4>My new business idea will be huge, maybe the next Facebook. Can you help?</h4>
            <p>
              No. Websites like Facebook, Amazon and Twitter are not like standard websites. They require hundreds or thousands of hours of work just to get the website launched. Not to mention that you’ll need a team of developers on hand 24 hours a day to keep the website running smoothly.
            </p>
          </div>

          <div class="col-lg-6 faq-item" data-aos="fade-up" data-aos-delay="100">
            <h4>Do I actually need a website?</h4>
            <p>
              No. If you have more customers than you can handle and don’t want anymore then you might not need a website. However if you want to expand the business, get more enquiries or become the go to person in your space then you should have a website.
            </p>
          </div>

          <div class="col-lg-6 faq-item" data-aos="fade-up" data-aos-delay="200">
            <h4>Will my website be mobile friendly?</h4>
            <p>
              Yes. Your website will be fully responsive and will look great on all devices. We don’t charge extra for this. It comes as standard.
            </p>
          </div>

          <div class="col-lg-6 faq-item" data-aos="fade-up" data-aos-delay="300">
            <h4>How do you build my website?</h4>
            <p>
              We design your website either from scratch or with boostrap based on your prefrence and then move it onto the website using web framework known as Django.
            </p>
          </div>

          <div class="col-lg-6 faq-item" data-aos="fade-up" data-aos-delay="400">
            <h4>How can you write the text for my website without knowing the business like I do?</h4>
            <p>
              We will ask you a series of questions before we begin, then we will research your market and suggest a series of pages for your website. We’ll learn as much as we need to know to create compelling words that inspire people to get in touch.
            </p>
          </div>

          <div class="col-lg-6 faq-item" data-aos="fade-up" data-aos-delay="500">
            <h4>Will you write the text for me?</h4>
            <p>
              It depends on the package you choose. We are happy to write the text for your website if you would like. We have a copywriter in house who will create the content for your website so you don’t have to.
            </p>
          </div>

          <div class="col-lg-6 faq-item" data-aos="fade-up" data-aos-delay="400">
            <h4>How many pages do I get with my website?</h4>
            <p>
              You can have an unlimited amount of pages on your website. We will usually design you 3 pages layouts i.e. A homepage, a blog page an inner page e.g. your about page. You can then use whichever layout you want for each new page you want to add.
            </p>
          </div>

          <div class="col-lg-6 faq-item" data-aos="fade-up" data-aos-delay="400">
            <h4>How long does it take to build a website?</h4>
            <p>
              It takes approximately 4-10 weeks dependinding on the packages you want. more importantly provided we have all the information from you.
            </p>
          </div>


        </div>

      </div>
    </section><!-- End Frequently Asked Questions Section -->

  </main><!-- End #main -->
  {% endblock %}